footer {
  background-color: #650006;
  position: relative;
  height: 360px;
  color: white;
  text-align: center;
  font-size: 25px;
  bottom: 0px;
}

footer p {
  margin-top:10px;
  margin-bottom: 10px;
}

.social-media {
  display: inline;
}
.social-media i {
  margin-top:5px;
  margin-left:15px;
}
.header-container {
  padding:5px;
}

@media screen and (max-width: 380px) {
  footer {
    width: 380px;
    height:450px;
    position: relative;
    bottom:0px;
  }

  iframe {
    width: 50%;
    margin-top:20px;
  }

  .header-container {
    margin-top:10px;
    padding:5px;
  }

}
