footer {
  background-color: #650006;
  position: relative;
  height: 350px;
  color: white;
  text-align: center;
  font-size: 25px;
  bottom: 0px;
}

.social-media {
  display: inline;
}
.social-media i {
  margin-top:5px;
  margin-left:15px;
}


@media screen and (max-width: 380px) {
  footer {
    width: 380px;
    position: relative;
    bottom:0px;
  }

  iframe {
    width: 50%;
  }
}
