<div class="about">
    <div>
        <h2>ABOUT US</h2>
    </div>
    <div class="container">
        <p class="english">
            Saint Gabriel Ethiopian Orthodox Tewahedo Monastery is part of the Ethiopian Orthodox Tewahedo Church(EOTC)
            Texas, Oklahoma, Louisiana, Arkansas, and Hawaii Diocese and  has been serving God and providing services 
            and the teaching of dogmas, doctrines, customs, history and beliefs of the Ethiopian Orthodox Tewahedo Church to the Dallas and Fort Worth area community since 2002. The church also known as Wase Saint Gabriel Monastery is known for healing countless believers from many kinds of illness and disabilities through emersion of Holy Water and anointing
            of blessed oils. At Saint Gabriel Monastery, everyone is welcome.
        </p>
        <div class="divider"></div>
        <p class="amharic">
            ቅዱስ ገብርኤል የኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ገዳም የኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ቤተ ክርስቲያን አካል ነው
            ቴክሳስ፣ ኦክላሆማ፣ ሉዊዚያና፣ አርካንሳስ እና ሃዋይ ሀገረ ስብከት እግዚአብሔርን እያገለገለ እና አገልግሎት ሲሰጥ ቆይቷል
            እና የኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ቤተ ክርስቲያን ዶግማ፣ አስተምህሮ፣ ወግ፣ ታሪክና እምነት ከ2002 ዓ.ም ጀምሮ ለዳላስና ፎርት ወርዝ አካባቢ ማኅበረሰብ አስተምሮታል። እና አካል ጉዳተኞች በቅዱስ ውሃ ብቅ ማለት እና ቅባት
            የተባረከ ዘይቶች. በቅዱስ ገብርኤል ገዳም ሁሉም ሰው እንኳን ደህና መጣችሁ።
        </p>
    </div>
</div>




