<p>
    Saint Gabriel Ethiopian Orthodox Tewahedo Monastery is part of the Ethiopian Orthodox Tewahedo Church(EOTC)
    Texas, Oklahoma, Louisiana, Arkansas, and Hawaii Diocese and  has been serving God and providing services 
    and the teaching of dogmas, doctrines, customs, history and beliefs of the Ethiopian Orthodox Tewahedo Church to the Dallas and Fort Worth area community since 2002. The church also known as Wase Saint Gabriel Monastery is known for healing countless believers from many kinds of illness and disabilities through emersion of Holy Water and anointing
    of blessed oils. At Saint Gabriel Monastery, everyone is welcome.
</p>

<p>clergy</p>