/* Reserved for about*/
.intro {
  display: grid;
  padding: 40px;
  grid-template-columns: 50% 50%;
}

.welcome {
  padding-left: 35px;
  padding-right:35px;

}

.image-intro {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.line {
  width: 70px;
  height: 3px;
  padding-top:20px;
  border-bottom: 2px solid #650006;
}

#headline {
  font-size: 22px;
  font-family: Verdana;
  color: #650006;
}

#history {
  font-size: 25px;
}

#paragraph {
  font-size: 16px;
  padding-top: 20px;
  font-family: Verdana;
  color: #650006; 
}

.donate {
  width: 150px;
  height: 35px;
  border-radius: 10px;
  margin-top: 15px;
  color: white;
  background: #650006 ;
}

.demo-wrap {
  height: 400px;
  position: relative;
  display: grid;
  grid-template-columns: 55% 45%;
  font-family: Verdana;
}

.button {
  position: relative;
  background-color: #650006 ;
}

.image {
  display: block;
  width: 90%;
  margin-left: 15px;
}

.image-container {
  width:250px;
  height:250px;
}

img {
  border-radius: 35px;
  max-width: 100%;
  max-height:100% ;
  box-shadow: #650006  0px 0px 16px;
}




/* Reserved for about*/



h2 {
  text-align: center;
  color:rgb(41, 36, 36);
}

.about {
 display: flex;
 justify-items: center;
 align-items: center;
}

.container {
  width: 800px;
  display: flex;
  flex-direction: row;
  margin: auto auto;
  border: 2px solid rgb(109, 102, 102);

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 35px;
}

.divider {
  margin-top: 10%;
}

.amharic,
  .english {
    padding: 15px;
    text-align: center;
    font-family: verdana;
  }

  
  .divider {
    height: 100px;
    width: 3px;
    background-color: rgb(75, 64, 64);
  }


/* CLERGY */
.clergy-container {
  position: relative;
  padding-top:10px;
  /* background-color: rgb(185, 180, 180); */
  background-color: rgb(206, 200, 200);
  margin-left: -25px;
  
  /* background-color: rgb(184, 170, 170); */
  /* background-color: #bd8789; */
}

.clergy-container p {
  color: #650006;
}

.high-priest {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 10px;
}

button {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.papacy{
  display: flex;
  flex-direction: column;
}

.church-leader-title {
  position: absolute;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity:1;
  max-width: 100%;
  max-height: 100%;
}



.relative {
  position: relative;
}

.clergy-title {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.Komos {
  display: flex;
  flex-direction: column;
  /* margin: auto auto; */
}
.papacy-image, .komos-image {
  position: relative;
  width:350px;
  height:250px;
  /* margin: auto auto; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.papacy-image img, .komos-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.papacy p, .Komos p {
  text-align: center;
}

.priest {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 10px;
}

.priest-container {
  display: flex;
  flex-direction: column;
}

.priest-image {
  width:230px;
  height:150px;
  margin: auto auto;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.priest-container p {
 text-align: center;
}

.priest-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


/* Deacons */
.deacons {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20% 20%;
  margin-bottom: 25px;
  margin-top: 10px;
}
.deacons-container {
  display: flex;
  flex-direction: column;
}
.deacons-image {
  width:230px;
  height:150px;
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deacons-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}
.deacons-container p {
  text-align: center;
 }

/* Singers */
.singers-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}



.singers-image {
   width:400px;
   height:270px;
}

.singers-image img {
  max-width: 100%;
  max-height: 100%;
}

.align-left {
  margin-left:45px;
}

.header h3 {
  margin-bottom: 7px;
  color:#650006;
}

h2 {
  color:#650006;
}


@media screen and (max-width: 414px) {
    /*reserved for about */
    .wrap {
      display: flex;
      flex-direction: column;
    }
    .intro {
      display: flex;
      padding: 5px;
      flex-direction: column;
    }
  
    .welcome {
      padding-left: 5px;
    }
  
    .demo-wrap {
      height: 400px;
      position: relative;
      font-family: Verdana;
      margin-left: 5px;
      display: flex;
      flex-direction: column;
    }
  
    .welcome {
      padding-left: 5px;
      margin-top: 25px;
    }
  
    .demo-content {
      position: relative;
      padding: 5px;
    }
  
    .img-container {
      margin-top: 30px;
      margin-left: -10px;
      width: 300px;
      height: 250px;
    }
  
    .img-container img {
      max-width: 100%;
      max-height: 100%;
    }
  
   /* Reserved for about */
 
  .about {
    font-family: Verdana;
  }
  h2 {
    text-align: center;
    color: #650006;
  }

  h3 {
    color: #650006;
    margin-bottom:7px;
  }

  .container {
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    border: 2px solid rgb(109, 102, 102);

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .divider {
    margin-left: 35%;
  }

  .amharic,
  .english {
    padding: 5px;
    text-align: center;
  }

  .divider {
    height: 3px;
    width: 100px;
    background-color: rgb(75, 64, 64);
  }

  /* Komos*/
  .komos-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Priest container */
  .priest {
    display:flex;
    flex-direction: column;
    /* display: grid;
    grid-template-rows: 20% 20% 20% 20% 20% 20%; */
  }
  
  .priest-container {
    display: flex;
    flex-direction: column;
  }

  .priest-image {
    width:200px;
    height:130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top:10px;
  }
  
  .priest-container p {
   text-align: center;
  }
  
  /*Deacons */

  .deacons {
    display:flex;
    flex-direction: column;
  }
  .deacons-container {
    display: flex;
    flex-direction: column;
  }
  .deacons-image {
    width:230px;
    height:150px;
    margin: auto auto;
    margin-bottom: 15px;
    margin-top:10px;
  }
  .deacons-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .deacons-container p {
    text-align: center;
   }
   .high-priest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Singers */
  .singers-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header,.child-header {
    text-align: center;
  }

  h3{
    color: #650006;
  }
  
  .singers-image {
     width:270px;
     height:150px;
     margin-left:35px;
     margin-top:10px;
  }
  
  .singers-image img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .align-left {
    margin-left:45px;
  }

  
}
