@media screen and (max-width: 514px) {
  .about {
    font-family: Verdana;
  }
  h2 {
    text-align: center;
  }

  .container {
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    border: 2px solid rgb(109, 102, 102);

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .divider {
    margin-left: 35%;
  }

  .amharic,
  .english {
    padding: 5px;
    text-align: center;
  }

  .divider {
    height: 3px;
    width: 100px;
    background-color: rgb(75, 64, 64);
  }
}
