<div class="wrap">
    <div class="intro">
      <div class="welcome">   
        <p id="headline"> ABOUT OUR CHURCH</p>
        <div class="line"></div>
        <p id="paragraph"> ቅዱስ ገብርኤል የኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ገዳም የኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ቤተ ክርስቲያን አካል ነው
            ቴክሳስ፣ ኦክላሆማ፣ ሉዊዚያና፣ አርካንሳስ እና ሃዋይ ሀገረ ስብከት እግዚአብሔርን እያገለገለ እና አገልግሎት ሲሰጥ ቆይቷል
            እና የኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ቤተ ክርስቲያን ዶግማ፣ አስተምህሮ፣ ወግ፣ ታሪክና እምነት ከ2002 ዓ.ም ጀምሮ ለዳላስና ፎርት ወርዝ አካባቢ ማኅበረሰብ አስተምሮታል። እና አካል ጉዳተኞች በቅዱስ ውሃ ብቅ ማለት እና ቅባት
            የተባረከ ዘይቶች. በቅዱስ ገብርኤል ገዳም ሁሉም ሰው እንኳን ደህና መጣችሁ። 
        </p>
        <button class="donate">BE A MEMBER</button>
      </div>
    <div class="image-intro">
        <div class="img-container">
          <img src="./assets/betechristian.PNG" />
          <p>I was overjoyed when they said, “Let’s go up to the house of the Lord." - Psalm 122:1</p> 
        </div>
    </div>
  </div> 

<!-- <div>
    <h2>ABOUT US</h2>
</div>
<div class="about">
    <div class="container">
        <p class="english">
            Saint Gabriel Ethiopian Orthodox Tewahedo Monastery is part of the Ethiopian Orthodox Tewahedo Church(EOTC)
            Texas, Oklahoma, Louisiana, Arkansas, and Hawaii Diocese and  has been serving God and providing services 
            and the teaching of dogmas, doctrines, customs, history and beliefs of the Ethiopian Orthodox Tewahedo Church to the Dallas and Fort Worth area community since 2002. The church also known as Wase Saint Gabriel Monastery is known for healing countless believers from many kinds of illness and disabilities through emersion of Holy Water and anointing
            of blessed oils. At Saint Gabriel Monastery, everyone is welcome.
        </p>
        <div class="divider"></div>
        <p class="amharic">
            ቅዱስ ገብርኤል የኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ገዳም የኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ቤተ ክርስቲያን አካል ነው
            ቴክሳስ፣ ኦክላሆማ፣ ሉዊዚያና፣ አርካንሳስ እና ሃዋይ ሀገረ ስብከት እግዚአብሔርን እያገለገለ እና አገልግሎት ሲሰጥ ቆይቷል
            እና የኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ቤተ ክርስቲያን ዶግማ፣ አስተምህሮ፣ ወግ፣ ታሪክና እምነት ከ2002 ዓ.ም ጀምሮ ለዳላስና ፎርት ወርዝ አካባቢ ማኅበረሰብ አስተምሮታል። እና አካል ጉዳተኞች በቅዱስ ውሃ ብቅ ማለት እና ቅባት
            የተባረከ ዘይቶች. በቅዱስ ገብርኤል ገዳም ሁሉም ሰው እንኳን ደህና መጣችሁ።
        </p>
    </div>
</div> -->
<div class="clergy-container">
    <div>
        <h2> OUR CHURCH CLERGY</h2>
    </div>
    
    <div class="high-priest">
        <div class="papacy">
            <div class="papacy-image">
                <img src="./assets/Abune.jpg"/>
            </div>
            <p>Abune Sawiors</p>
       </div> 
       <div class="Komos">
           <div class="komos-image">
               <img src="./assets/abahawaz.jpg"/>
           </div>
           <p>Aba Hawaz</p>
       </div> 
    </div>
      
    <div class="priest">
          <div class="priest-container">
                <div class="priest-image">
                    <img src="./assets/one.jpg"/>
                </div>
                <p>Priest</p>
          </div>
          <div class="priest-container">
                <div class="priest-image">
                    <img src="./assets/one.jpg"/>
                </div>
                <p>Priest</p>
          </div>
          <div class="priest-container">
                <div class="priest-image">
                    <img src="./assets/one.jpg"/>
                </div>
                <p>Priest</p>
          </div>
          <div class="priest-container">
                <div class="priest-image">
                    <img src="./assets/one.jpg"/>
                </div>
                <p>Priest</p>
          </div>
          <div class="priest-container">
            <div class="priest-image">
                <img src="./assets/one.jpg"/>
            </div>
            <p>Priest</p>
          </div>
    </div>
    
    <div class="deacons">
        <div class="deacons-container">
            <div class="deacons-image">
                <img src="./assets/one.jpg"/>
            </div>
            <p>Deacon</p>
        </div>
        <div class="deacons-container">
            <div class="deacons-image">
                <img src="./assets/one.jpg"/>
            </div>
            <p>Deacon</p>
        </div>
        <div class="deacons-container">
            <div class="deacons-image">
                <img src="./assets/one.jpg"/>
            </div>
            <p>Deacon</p>
        </div>
        <div class="deacons-container">
            <div class="deacons-image">
                <img src="./assets/one.jpg"/>
            </div>
            <p>Deacon</p>
        </div>
        <div class="deacons-container">
            <div class="deacons-image">
                <img src="./assets/one.jpg"/>
            </div>
            <p>Deacon</p>
        </div>
    </div>
             
        
</div>


     


 



