.navbar ul li {
  display: inline;
  list-style-type: none;
  margin-left: 40px;
  padding-left: 50px;
}

.navbar ul {
  /* background-color: white; */
}

.navbar ul li a {
  text-decoration: none;
  /* display: block; */
  color: #650006;
}

.navbar ul li a:hover {
  height: 45px;
  width: 100px;
  text-align: center;
  padding: 15px;
  transition: 0.5s;
  background-color: #650006;
  color: white;
  border-radius: 5px;
}

.navbar {
  color: #650006;
}
.mobile-media{
  display:none;
}
.sidenav a {
  display: none;
}


/* hidden nav bar */
.sideNavButton, .nav-container li {
  display: none;
}

.home {
  display: none;
}

.cursor {
  display: none;
}

/* Side navigation bar */



/* Mobile Device */

@media screen and (max-width: 414px) {
  .navbar {
    display: none;
  }
  .navbar ul li a {
    display: none;
  }
  .mobile-media {
    display: block;
    background-color: yellow;
    width: 100%;
  }
  .home {
    display: block;
    float: left;
    text-decoration: none;
    color:rgb(48, 40, 40);
  }
  .cursor {
    float: right;
    display: block;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(97, 85, 85);
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
    color: white;
  }
  
  .sidenav a {
    font-family: Verdana;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sideNavButton{
    display: block;
  }
  
  .nav-container li {
    display: block;
    padding:10px;
    margin-top: 4px;
  }
  .nav-container {
    margin-top: 40px;
  }

  .sidenav li {
    list-style: none;
  }
  
  .sidenav a {
    color: #f1f1f1;
  }
  
}
