<div class="contact-container">
    <div class="form-location">
        <form>
            <label><b>Full name</b></label><br>
            <input type="text" placeholder="Full Name">
            <br>
            <label><b>Phone</b></label><br>
            <input type="text" placeholder="Phone">
            <br>
            <label><b>Email</b></label><br>
            <input type="text" placeholder="Email">
            <br>
            <label><b>Message</b></label><br>
            <textarea  rows="5" cols="40" placeholder="Enter here ..."></textarea>
            <br>
            <button>SUBMIT</button>
        </form>
    </div>
    <div class="location">
        <div class="location-container">
            <b>OUR ADDRESS</b>
            <br>
            <div class="contact">
                <p><i class="fa-solid fa-church"></i> 1001 Mullins St. <br> &nbsp; &nbsp; &nbsp;Irving, TX <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;75061</p>
                <p><i class="fa-solid fa-phone"></i> &nbsp;469-663-8737</p> 
                <p><i class="fa-solid fa-phone"></i>&nbsp; 214-675-4161</p> 
            </div>  
        </div>
    </div>
</div>
