<div class="wrap">
  <div class="intro">
    <div class="welcome">   
      <p id="headline"> Welcome to the St.Gabriel Ethiopian Orthodox Website</p>
      <div class="line"></div>
      <p id="history"><b>HISTORY</b></p>
      <p id="paragraph"> The Orthodox church is the ancient christian church that traces it foundation back to 
      our Lord Jesus Christ and His Tweleve Apostles. The church has continued has pereserved the apostolic 
       doctrine and tradition, worship, and structure. The orthodox church maintains that the 
       church is the living Body of Jesus Christ.  
      </p>
      <button class="donate">DONATE</button>
    </div>
    <div class="image-intro">
      <div>
        <img src="./assets/Gabriel_circle.png" />
        <p>*እኔ በእግዚአብሔር ፊት የምቆመው ገብርኤል ነኝ" ሉቃስ 1 ፣ 19 </p> 
      </div>
    </div>
</div>

<div class="demo-wrap">
    <img class="image" src="./assets/tabot.jpg" />
    <div class="demo-content">
      <h1>Upcoming Events</h1>
    </div>
  </div>
</div>


