/*   */
.wrapper{
  background-color: #fcf9e5;
}

.intro {
  display: grid;
  padding: 40px;
  grid-template-columns: 60% 40%;
}

.welcome {
  padding-left: 35px;
}

.image-intro {
  text-align: center;
}

.line {
  width: 100px;
  height: 3px;
  padding:10px;
  border-bottom: 5px solid #650006;
}

#headline {
  font-size: 22px;
  font-family: Verdana;
  color: #650006;
}

#history {
  font-size: 22px;
  color: rgb(63, 46, 46);
  padding-top:10px;
}

.paragraph-container {
  width:450px;
}

#paragraph {
  font-size: 16px;
  font-family: Verdana;
  padding-top:20px;
}

.demo-wrap {
  height: 400px;
  position: relative;
  display: grid;
  grid-template-columns: 55% 45%;
  font-family: Verdana;
}

.button {
  position: relative;
}



.image-intro{
  margin-top:25px;
}

img {
  /* display: block; */
  border-radius: 35px 35px 35px 35px;
}

.facebook-video {
  background-color: #cac2c2;
}
.fb-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fb-header-text {
  text-align: center;
  color: rgb(63, 46, 46);
  font-family: verdana;
  font-size: 20px;
}

.vid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

/* Events list page  */
.events{
  margin-bottom: 20px;
  margin-top: 20px;
}

.events-list {
  border: 2px solid rgb(109, 102, 102);
  margin-top: 20px;
  padding: 10px;
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.event-box {
  display: grid;
  grid-template-columns: 25% 75%;
  margin-bottom: 5px;
  margin-top: 15px;
  
}

.event-box .date {
  background-color:  #650006;
  font-family: verdana;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date span {
  text-align: center;
}

.event-box p {
  border-style: 2px dotted yellow;
  padding-left: 35px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  text-align: center;
}

/* Service container */
.services{
  padding-bottom:15px;
  color: #fcf6ce;
}

.service-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  row-gap:10px;
}

.service-header {
  margin-bottom: 15px;
}

.service-list{
  width: 320px;
  height:320px;
  border: 2px solid rgb(109, 102, 102);
  border-radius:15px;
  margin-left:10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.service-list h3 {
  text-align: center;
}

.service-list {
  background-color: #650006;
}

.service-details{
  margin-left: 15px;
  margin-top: 5px;
}

.service-details-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.two-fifty-pixel {
  width:250px;
}

.margin-left-thirty-pixel{
  margin-left:30px;
}

.margin-left-fifty-pixel{
  margin-left:50px;
}


@media screen and (max-width: 414px) {
  .wrap {
    display: flex;
    flex-direction: column;
    
  }
  .intro {
    display: flex;
    padding: 5px;
    flex-direction: column;
  }

  .welcome {
    padding-left: 5px;
    margin-top:25px;
  }

  .demo-wrap {
    height: 400px;
    position: relative;
    font-family: Verdana;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
  }

  

  .demo-content {
    position: relative;
    padding: 5px;
  }

  .paragraph-container {
    width:300px;
  }

  .image-intro {
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
  .donate-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-container img {
    max-width: 100%;
    max-height: 100%;
  }

  
  iframe {
    width: 300px;
    height: 250px;
  }


  /* Events list page  */

  .events {
    width: 300px;
    margin-top:-45px;
  }

  .events-list {
    border: 2px solid rgb(109, 102, 102);
    margin-top: 15px;
    padding: 10px;
    width: 300px;
  }

  .event-box {
    display: grid;
    grid-template-columns: 35% 65%;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .event-box .date {
    background-color: #650006;
    font-family: verdana;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .date span {
    text-align: center;
  }

  .event-box p {
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-align: center;
  }

  /* Service container */
.services{
  padding-bottom:15px;
  color: rgb(29, 27, 27);
}

.service-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  row-gap:10px;
}

.service-header {
  margin-top: 10px;
}

.service-list{
  width: 320px;
  height:320px;
  border: 2px solid rgb(109, 102, 102);
  border-radius:15px;
  margin-left:-10px;
  background-color: #650006;
  color:#fcf9e5;
}

.service-list h3 {
  text-align: center;
}

}
