<div class="wrap">
  <div class="intro">
    <div class="welcome">   
      <p id="headline"> Welcome to the St.Gabriel Ethiopian Orthodox Website</p>
      <div class="line"></div>
      <p id="history"><b>HISTORY</b></p>
      <p id="paragraph"> The Orthodox church is the ancient christian church that traces it foundation back to 
      our Lord Jesus Christ and His Tweleve Apostles. The church has continued has pereserved the apostolic 
       doctrine and tradition, worship, and structure. The orthodox church maintains that the 
       church is the living Body of Jesus Christ.  
      </p>
      <button class="donate">DONATE</button>
    </div>
  <div class="image-intro">
      <div class="img-container">
        <img src="./assets/Gabriel_circle.png" />
        <p>"እኔ በእግዚአብሔር ፊት የምቆመው ገብርኤል ነኝ" ሉቃስ 1 ፣ 19 </p> 
      </div>
  </div>
</div> 

<div class="services">
  <div class="fb-header service-header">
    <p class="fb-header-text "> <b>SERVICES</b></p>
    <div class="line"></div>
  </div>
  <div class="service-container">
     <div class="service-list">
      <h3>የዘውትር <br> Daily Services</h3>
      <div class="service-details">
         <div class="service-details-list">
           <ul>
             <li>
              ጸሎተ ኪዳን(Morning Prayer) <br>
              <b>Time :</b> ከለሊቱ 5 AM ጀምሮ
             </li>
             <li>
              የሕሙማን ፣ የቄዴር ፣ እና የንስሐ ጥምቀት እገልግሎት <br>
              Emersion of Holy Water and anointing of blessed oils <br>
              <b>Time :</b> 7:00AM-9:30AM፣ እሁድ ከቅዳሴ በኋላ <br>
              daily 7:00AM-9:30AM
             </li>
           </ul>
         </div>
      </div>
     </div>
     <div class="service-list">
      <h3>ሳምንታዊ <br> Weekly Services</h3>
      <div class="service-details">
         <div class="service-details-list">
          <ul>
            <li>
             የዘውትር እሁድ መርሐ ግብር<br>
             <b>Time :</b> ከለሊቱ 5 ሰዓት እስከ 10:30<br>
            </li>
            <li>
              Sunday Service <br>
              <b>Time :</b> 5:00AM to 10:30AM <br>
              ጸሎተ ኪዳን (Morning Prayer) <br>
              ቅዳሴ (Mass) <br>
              መዝሙር (Sacred Songs) <br>
              ትምህርት (homily) <br>
            </li>
          </ul>
         </div>
      </div>  
    </div>
    <div class="service-list">
      <h3>ወርሀዊ <br> Monthly Services</h3>
      <div class="service-details">
        <div class="service-details-list">
          <ul>
            <li>
              የቅዱስ ገብርኤል ወርሀዊ በዓል - በየወሩ በ19/ <br>
              Saint Gabriel Commemoration <br>
              <b>Time :</b> 19th day of every month(E.C)
            </li>
            <li>
              የቅዱስ ዮሐንስ ወርሀዊ በዓል- በየወሩ <br>
              በ30/ Saint John the Baptist Commemoration Day<br>
              <b>Time :</b> 30th day of every month(E.C)
            </li>
            <li>
              የቅዱስ ሩፋኤል ወርሀዊ በዓል - በየወሩ በ 14 <br>
              Saint Rufael Commemoration Day <br>
              <b>Time :</b> 14th day of every month(E.C)
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="service-list">
      <h3>አመታዊ <br> Annual Celebration</h3>
      <div class="service-details">
        <div class="service-details-list">
          <ul>
            <li>
              መጥምቀ መለኮት ቅዱስ ዮሐንስ ዓመታዊ በዓል <br>
              <b>Time :</b> መስከረም 2 እና ሰኔ 30 <br>
              Saint John the Baptist 
              <br>Annual Commemoration Day
              <br><b>Time :</b>  Sep. 2 & June 30(EC)
            </li>
            <li>
              ልደት(ገና)/Ethiopian Christmas <br>
            </li>
            <li>
              ትንሳዔ/ Ethiopian Easter
            </li>
          </ul>
        </div>
      </div>  
    </div>

  </div>

</div>



<div class="facbook-video">
  <div class="fb-header">
    <p class="fb-header-text"> <b>VISIT OUR FACEBOOK PAGE</b></p>
    <div class="line"></div>
  </div>
  <div class="vid-container">
    <iframe src="https://www.facebook.com/plugins/video.php?height=280&href=https%3A%2F%2Fwww.facebook.com%2Fsaintgabrieleotc%2Fvideos%2F600143114583684%2F&show_text=false&width=560&t=0" 
  width="560" height="280" style="border:none;overflow:hidden"
   scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
  </div>

  <div class="events">
    <div class="fb-header">
      <p class="fb-header-text"> <b>UPCOMING EVENTS</b></p>
      <div class="line"></div>
    <div class="events-list">
      <div class="event-box">
        <div class="date">
          <span>May 28</span>
        </div>
        <p> This is placebolder for upcoming event</p>
      </div>
      <div class="event-box">
        <div class="date">
          <span>May 28</span>
        </div>
        <p> This is placebolder for upcoming event</p>
      </div>
      <div class="event-box">
        <div class="date">
          <span>May 28</span>
        </div>
        <p> This is placebolder for upcoming event</p>
      </div>
    </div>
  </div> 


  
</div>



