<div class="media">
    <div class="header">
          <p style="font-faimly: verdana; text-align: center; margin-top:20px;"><b>OUR PHOTO GALLERY</b></p>
    </div>
    <div class="divider"></div>
    <div class="media-section">
        <div class="media-container">
            <div class="img-container">
                <img src="./assets/one.jpg"/>
            </div>
         </div>
         <div class="media-container">
          <div class="img-container">
              <img src="./assets/one.jpg"/>
          </div>
        </div>
        <div class="media-container">
          <div class="img-container">
              <img src="./assets/one.jpg"/>
          </div>  
        </div>
        <div class="media-container">
            <div class="img-container">
                <img src="./assets/three.jpg"/>
            </div>
         </div>
    </div>

    <div class="media-section">
        <div class="media-container">
            <div class="img-container">
                <img src="./assets/three.jpg"/>
            </div>
         </div>
         <div class="media-container">
            <div class="img-container">
                <img src="./assets/four.jpg"/>
            </div>
         </div>
         <div class="media-container">
            <div class="img-container">
                <img src="./assets/five.jpg"/>
            </div>
         </div>
         <div class="media-container">
            <div class="img-container">
                <img src="./assets/six.jpg"/>
            </div>
         </div> 
    </div>


    <div class="media-section">
         <div class="media-container">
            <div class="img-container">
                <img src="./assets/one.jpg"/>
            </div>
         </div> 
         <div class="media-container">
            <div class="img-container">
                <img src="./assets/one.jpg"/>
            </div>
         </div> 
         <div class="media-container">
            <div class="img-container">
                <img src="./assets/one.jpg"/>
            </div>
         </div> 
         <div class="media-container">
            <div class="img-container">
                <img src="./assets/one.jpg"/>
            </div>
            
         </div> 
    </div>
   
    <!-- <div class="media-section">
        
         <div class="media-container">
            <div class="img-container">
                <img src="./assets/16.jpg"/>
            </div>
         </div>

     </div> -->
  
</div>
