.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

@media screen and (max-width: 390px) {
  .frame {
    height: 400px;
    width: 100%;
  }

  .calendar {
    margin-top: 20px;
  }
 
}
